#content{
    align-items: center;
    text-align: center;    
}
#profilepic{
    width:300px;
    height: 400px;

}
h2{
    text-align: center; 
}
p {
    text-align: center;
    padding-left: 600;
    padding-right: 600x;
}
#heading{
    text-align: center;
    background-color: FFD6E0;
    color: CBCBCD;
    align-items: center;
}
